<!DOCTYPE html>
<html>
  <head>
{% include header.html %}
  </head>
  <body>
    <div class="site">
{% include navbar.html %}

{{ content }}

      <div class="footer">
        <div class="notice">
            Content is available under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a> unless otherwise specified. Minecraft content and materials are trademarks and copyrights of Mojang and its licensors. All rights reserved.
        </div>

        <div class="contact">
          <p>
            Luppii<br />
            luppii@luppii.se<br />
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="https://github.com/luppii">github.com/luppii</a><br />
            <a href="http://www.luppii.se">Luppii.se</a><br />
          </p>
        </div>
      </div>
    </div>

{% include footer.html %}
  </body>
</html>
